@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Prime React Tailwindcode */

@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
.sidebar-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #44a04e;
}
.builder-element-wrapper .grid div h5 {
  padding-bottom: 20px;
}

.max-container {

  max-width: 50rem;
}

.add-container {
  margin-top: -55px;
}